@import url(./_animations.scss);

.exercise {
	&_form {
		display: flex;
		flex-direction: column;
		input {
			min-height: 50px;
			font-size: 24px;
		}
	}
	&_sets {
		display: flex;
		padding: 0;
	}
	&_reps {
		list-style: none;
		margin-right: 20px;
		border: 1px solid #212529;
		border-radius: 50%;
		min-width: 50px;
		min-height: 50px;
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		span {
			pointer-events: none;
		}
	}
	&_title {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

nav {
	ul {
		display:flex;
		li {
			list-style: none;
			margin: 10px;
		}
	}
}

.weight-input {
	height: 25px;
	width: 25px;
	text-align: center;
	margin: 0 10px 0 10px;
}

.exercise__weight-form{
	display: flex;
	align-items: center;
	width: 200px;
}

.card-weight{
	margin-bottom: 0;
	margin-right: 20px;
}

.exercise__weight{
	width: 20%;
	padding: 0px;
	text-align: center;
}

.remove-exercise-container {
	display: flex;
}

.card-text:last-child {
	margin-left: 5px;
}

.form-group {
	margin-bottom: 0;
}